/*
 * Estilos de tu proyecto
 */
 body{
 	margin:0;
 }

 #menuUser{
 	display: inline-block;
 	width: 321px;
 	border-right: 0.5px solid #CFCECE;
 	float: left;
 	/*position: fixed;*/

 }

 h2{
 	font-family: "Roboto";
 	padding: 1em 4em;
 	background: #E3E1E1;
 	margin: 0;
 	border-top: 0.5px solid #CFCECE; 
 }

 .logo{
 	width: 200px;
 	padding: 1.5em 3.8em;
 }

 ul{
 	list-style: none;
 	padding:0;
 	margin: 0;
 }

 i{
 	margin-right: 10px;

 }

  a{
 	text-decoration: none;
 	font-family: "Roboto";
 	font-size: 16px;
 	color: #3F3E3E;
 }

 a:hover{
 	color: #ffc107;
 	cursor: pointer;
	background: #e0e0e0;
 	
 }

 li{
 	line-height: 30px;
 	text-decoration: none;
 	font-family: "Roboto";
 	font-size: 16px;
 	color: #3F3E3E;
 	padding-top: 10px;
 	padding-bottom: 10px;
 	padding-left: 15px;

 }

 li:hover{
 	color: #ffc107;
 	cursor: pointer;
	background: #e0e0e0;
 	
 }

 .second{
	padding: 0;
 }
 
 #sedes{
 	padding-left: 70px;
 }
 
 #btn{
 	border:none;
 	background: white;
 	text-decoration: none;
 	font-family: "Roboto";
 	font-size: 16px;
 	color: #3F3E3E;
 	padding-left:30px;
 	padding-top: 20px;
 	padding-bottom: 20px;
 	padding-right: 189px;
 }

 #btn:hover{
 	color: #ffc107;
	background: #e0e0e0;
	cursor: pointer;
 }

 span li{
 	padding-left:30px;
 }

 #ampm{
 	padding-left: 30px;
 }

 li .fa-angle-up{
 	padding-left: 100px;
 	font-size: 25px;
 	color: #3F3E3E;
 }

 li .fa-angle-up:hover{
 	color: #ffc107;
 }

/* 
 .hidden{
	display: none;
	color: #1DA1F2;
}*/
 
 .exit{
 	margin-top:290px;
 	padding-left: 50px;
 	padding-top: 18px;
 	padding-bottom: 18px;
 	border-top: 0.5px solid #CFCECE;
 	
 }

  .exit:hover{
	background: #e0e0e0;
	cursor: pointer;
 }

#nav{
	width: 1027px;
	background: #ffc107;
	margin-left: 322px;
}

#nav .tab{
	display: inline-block;
	margin: 0;
	padding: 20px 128px;
	font-family: "Roboto";
	font-size: 20px;
 	border:none;
 	background: #ffc107;
}

#nav .tab:hover{
	cursor: pointer;
	color: white;
	background: #e0e0e0;
}

#nav .tab:focus{
	cursor: pointer;
	color: #ffc107;
	background: #e0e0e0;
}

section{
	width: 1027px;
	float: left;
	
}
img{
	width: 800px;
}
.selec{
	width: 1027px;
	height: 30px;
	background: #e0e0e0;
	font-family: "Roboto";
	padding-top: 20px;
}

.flash1{
	margin-left: 550px;
}

.flash{
	margin-left: 30px;
}
.flash1:focus{
	color: white;
}

#line-chart{
	width: 900px;
	margin-left: 30px;
}
